
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cobalt and Calcium</title>
<link rel="stylesheet" href="/static/coheed.css">
</head>
<body>
  
        <nav class="header" >
            
               <p> <a href="https://www.facebook.com/cobaltandcalcium/"> Facebook</a></p>
  
             <p> <a href="https://www.instagram.com/cobaltcalcium/?hl=en"> Instagram</a></p>
              <p> <a href="https://twitter.com/cobaltcalcium?lang=en">Twitter</a></p>
              <p> <a href="https://www.coheedandcambria.com/tour">Tour</a></p>
              <p> <a href="https://store.coheedandcambria.com/">Merch</a></p>
              <p> <a href="https://soundcloud.com/allthingscoheedpodcast">ATC-Podcast</a></p>
              <a href="/login">
               BIO
            </a>
              
              
            

                    
              
        </nav>
        <div class="banner">
            <h1>Cobalt and Calcium</h1>
        </div>
   
        <div class="welcome">
            <p>Welcome Home</p>
            <p>Click any of the above links to walk amoung us</p>
            <img class="img" src="/static/cobalheart.jpg" alt="cobalt heart">
            <img class="img" src="/static/CC.jpg" alt="band image">
            <img class="img" src="/static/keywork.jpg" alt="keywork symbol">
        </div>
        <br>
        <br>
        <br>
        <button class="button" type="submit">Sign In
        </button>
        

        <footer>
            <div class="content">
                <p>This website make by Tasha Davis</p>
            </div>
        </footer>
</body>
</html>
