<!DOCTYPE html>
<html>

    <head>  
        <link rel="stylesheet" type="text/css" href="/static/coheed.css"/>  
     </head>  

</html>
<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>    
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" class="info" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" class="info" id="Pass" placeholder="Password"><br>  
            
       
        <br>
        <input type="button" class="button" id="log" value="Log In">       
         
       
</div>    
</body>    
</html> 